@*
 Permet d'afficher une liste de sous catégorie

*@

@import controllers.BDDpackage.Utilisateur

@(user : Utilisateur)

<script type="text/javascript">

        var catfromscala = [@for(cat <- ((HomeController.DB).getAllCategories())){
            {catid:'@(cat.id)', catname:'@(cat.nom)'},
            }];

        var souscatfromscala = [@for(cat <- ((HomeController.DB).getAllCategories())){
            {catname:'@(cat.nom)', subcat:[
                    @for(subcat <- ((HomeController.DB).get_Sous_categorie(cat.id))){
                    {subcatid: '@(subcat.id)', subcatname:'@(subcat.nom)'},
                    }

     ]},
            }];

        function displayCat(){
            var catSel = document.getElementById("catSel");
            var keys = Object.keys(catfromscala);
            for (var key in keys){
                var opt = document.createElement("OPTION");
                opt.setAttribute("value", catfromscala[key].catid);
                var text = document.createTextNode(catfromscala[key].catname);
                opt.appendChild(text);
                catSel.appendChild(opt);
            }
        }

        function deleteChild(parent_id) {
            var parent = document.getElementById(parent_id);
            var child = parent.lastElementChild;
            while (child) {
                parent.removeChild(child);
                child = parent.lastElementChild;
            }
        }
        function AppendChoose(){
            var opt = document.createElement("OPTION");
            opt.setAttribute("value", 0);
            var text = document.createTextNode("Choose...");
            opt.appendChild(text);
            document.getElementById("subCatSel").appendChild(opt);
        }

        function displaySousCatSel(){
            deleteChild("subCatSel");
            var sel = document.getElementById("catSel");
            var selected_categorie_id = sel.options[sel.selectedIndex].value;

            if (selected_categorie_id > 0 && selected_categorie_id != 9) {
                document.getElementById("subcatId").style.display = "inline";
                AppendChoose();
                var selected_categorie = sel.options[sel.selectedIndex].text;
                var subCatSel = document.getElementById("subCatSel");
                var keys = Object.keys(souscatfromscala);
                for(var key in keys) {
                    //selectionne les bonnes sous-categories
                    if(souscatfromscala[key].catname == selected_categorie){
                        var rightsubcat = souscatfromscala[key].subcat;
                        var subkeys = Object.keys(rightsubcat);
                        //iterration parmis les sous categories pour les afficher
                        for(var subkey in subkeys) {
                            var opt = document.createElement("OPTION");
                            opt.setAttribute("value", rightsubcat[subkey].subcatid);
                            var text = document.createTextNode(rightsubcat[subkey].subcatname);
                            opt.appendChild(text);
                            subCatSel.appendChild(opt);
                        }
                    }
                }

            } else {
                document.getElementById("subcatId").style.display = "none";
            }
        }
        function visualiseExpense(){
            //text base
            var textAmount = "Expense entered :";
            var textFinalSolde = "New balance     :";

            //recuperation Amount
            var tmpAmount = Math.round(document.getElementById("amountId").value * 100) / 100;

            //Calcul solde après mouvement
            var finalSolde = Math.round((@user.getSolde() - tmpAmount) * 100) / 100;

            //Création des affichages
            textAmount = textAmount.concat(tmpAmount);
            textFinalSolde = textFinalSolde.concat(finalSolde);

            //affichage
            document.getElementById("amountVisualize").innerHTML = textAmount;
            document.getElementById("afterSolde").innerHTML = textFinalSolde;
        }


        function sendVisualize()
        {
            if(validateFormExpense())
            {
                closeNav();
                document.forms["form-add-expense"].submit();
            }
        }
</script>

<script type = "text/javascript">
        function displayRecurrence() {
            if (document.getElementById('chk1').checked)
            {
                document.getElementById("recurrence").style.display = "inline";
            } else
            {
                document.getElementById("recurrence").style.display = "none";
            }
        }
</script>

<script type = "text/javascript">
        function validateFormExpense() {
            var x = document.forms["form-add-expense"]["amount"].value;
            if(x == "0") {
                alert("Insert a valid amount");
                return false;
            }

            x = document.forms["form-add-expense"]["categorie"].value;
            if (x == "0" || x == 0) {
                alert("Choose a categorie");
                return false;
            }
            x = document.forms["form-add-expense"]["categorie"].value;
            if(x != 17 && x != 9){
                if(document.forms["form-add-expense"]["sous-categorie"].value == "0" ){
                    alert("Choose a subcategorie");
                    return false;
                }
            }
            return true;
        }
</script>


<div class="card-header" id="headingOne">
    <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Add expense
        </button>
    </h5>
</div>

<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body sidebar-menu-text">

        @helper.form(action = helper.CSRF(routes.HomeController.AddExpense()),'name -> "form-add-expense" ,'onsubmit -> "return validateFormExpense();") {

            <form>
                <div class="form-group">
                    <label>Amount</label>
                    <input type="number" name="amount" id="amountId" step=0.05 value="0" min="0" max="100000000" class="form-control"  placeholder="">
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <label>Categorie</label>
                    <select  id="catSel" name="categorie" class="form-control" onchange="displaySousCatSel();">
                        <option value="0" selected>Choose...</option>
                        <script type = "text/javascript">displayCat()</script>
                    </select>
                </div> <!-- form-group end.// -->


                <div id="subcatId" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select id="subCatSel" name="sous-categorie" class="form-control">
                            <option value="0" selected>Choose...</option>
                        </select>
                    </div>
                </div>
                    <!-- END ALL SUBCATEGORIES FOR ADD EXPENSE-->

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span  class="input-group-text" style="background:  #8c8c8c" style="padding-right: 20px">Note</span>
                    </div>
                    <textarea name="note" class="form-control" aria-label="With textarea"></textarea>
                </div>

                <input id="chk1" type="checkbox" data-toggle="toggle" onclick="displayRecurrence()">
                <label for="check1">Recurrence</label>
                <div id="recurrence" class="hidden-categorie">
                    <div class="form-group">
                        <select name="recurrence" class="form-control">
                            <option value ="0">choose...</option>
                            @for(rec <- (HomeController.DB).getRecurrence()){
                                <option value="@rec.getId()">@rec.getName()</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>
                <button type="submit" class="btn btn-primary btn-block">Add</button>
                <button type="button" data-toggle="modal" onclick="visualiseExpense();" class="btn btn-secondary btn-block" data-target="#visualization"> Visualize </button>

                    <!-- Modal -->
                <div class="modal fade" id="visualization" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Visualisation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="" method="get">
                                <div class="modal-body">
                                    <div><a>Base balance    : @user.getSolde()</a></div>
                                    <div><a id="amountVisualize"></a></div>
                                    <br>
                                    <div><a id="afterSolde"></a></div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" onclick="sendVisualize();" class="btn btn-primary">Confirm changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</div>
