@*
 Permet d'afficher une liste de sous catégorie

*@

@import controllers.BDDpackage.Utilisateur

@(user : Utilisateur)


<div class="card-header" id="headingOne">
    <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Add expense
        </button>
    </h5>
</div>

<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body sidebar-menu-text">

        @helper.form(action = helper.CSRF(routes.HomeController.AddExpense()),'name -> "form-add-expense" ,'onsubmit -> "return validateFormExpense();") {

            <form>
                <div class="form-group">
                    <label>Amount</label>
                    <input type="number" name="amount" id="amountId" step=0.05 value="0" min="0" max="100000000" class="form-control"  placeholder="">
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <label>Categorie</label>
                    <select  id="catSel" name="categorie" class="form-control" onchange="displaySousCatSel();">
                        <option value="0" selected>Choose...</option>
                        @for(cat <- (HomeController.DB).getAllCategories()) {
                            <option value="@cat.id">@cat.nom</option>
                        }
                    </select>
                </div> <!-- form-group end.// -->

                <!-- ALL SUBCATEGORIES FOR ADD EXPENSE-->
                <div id="subCat1" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select id="subCatExpense" name="sous-categorie_1" class="form-control">
                            <option value="0" selected>Choose...</option>

                            @for(sousCat <- (HomeController.DB).get_Sous_categorie(1)){
                                <option value ="@sousCat.id">@sousCat.nom</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>

                <div id="subCat2" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select name="sous-categorie_2" class="form-control">

                            <option value="0" selected>Choose...</option>

                            @for(sousCat <- (HomeController.DB).get_Sous_categorie(2)){
                                <option value ="@sousCat.id">@sousCat.nom</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>

                <div id="subCat3" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select name="sous-categorie_3" class="form-control">

                            <option value="0" selected>Choose...</option>

                            @for(sousCat <- (HomeController.DB).get_Sous_categorie(3)){
                                <option value ="@sousCat.id">@sousCat.nom</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>

                <div id="subCat4" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select name="sous-categorie_4" class="form-control">

                            <option value="0" selected>Choose...</option>

                            @for(sousCat <- (HomeController.DB).get_Sous_categorie(4)){
                                <option value ="@sousCat.id">@sousCat.nom</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>

                <div id="subCat5" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select name="sous-categorie_5" class="form-control">

                            <option value="0" selected>Choose...</option>

                            @for(sousCat <- (HomeController.DB).get_Sous_categorie(5)){
                                <option value ="@sousCat.id">@sousCat.nom</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>

                <div id="subCat6" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select name="sous-categorie_6" class="form-control">

                            <option value="0" selected>Choose...</option>

                            @for(sousCat <- (HomeController.DB).get_Sous_categorie(6)){
                                <option value ="@sousCat.id">@sousCat.nom</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>

                <div id="subCat7" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select name="sous-categorie_7" class="form-control">

                            <option value="0" selected>Choose...</option>

                            @for(sousCat <- (HomeController.DB).get_Sous_categorie(7)){
                                <option value ="@sousCat.id">@sousCat.nom</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>

                <div id="subCat8" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select name="sous-categorie_8" class="form-control">

                            <option value="0" selected>Choose...</option>

                            @for(sousCat <- (HomeController.DB).get_Sous_categorie(8)){
                                <option value ="@sousCat.id">@sousCat.nom</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>

                <div id="subCat10" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select name="sous-categorie_9" class="form-control">

                            <option value="0" selected>Choose...</option>

                            @for(sousCat <- (HomeController.DB).get_Sous_categorie(10)){
                                <option value ="@sousCat.id">@sousCat.nom</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>

                <div id="subCat11" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select name="sous-categorie_10" class="form-control">

                            <option value="0" selected>Choose...</option>

                            @for(sousCat <- (HomeController.DB).get_Sous_categorie(11)){
                                <option value ="@sousCat.id">@sousCat.nom</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>

                <div id="subCat12" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select name="sous-categorie_11" class="form-control">

                            <option value="0" selected>Choose...</option>

                            @for(sousCat <- (HomeController.DB).get_Sous_categorie(12)){
                                <option value ="@sousCat.id">@sousCat.nom</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>

                <div id="subCat13" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select name="sous-categorie_12" class="form-control">

                            <option value="0" selected>Choose...</option>

                            @for(sousCat <- (HomeController.DB).get_Sous_categorie(13)){
                                <option value ="@sousCat.id">@sousCat.nom</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>

                <div id="subCat16" class="hidden-categorie">
                    <div class="form-group">
                        <label>Subcategorie</label>
                        <select name="sous-categorie_13" class="form-control">

                            <option value="0" selected>Choose...</option>

                            @for(sousCat <- (HomeController.DB).get_Sous_categorie(16)){
                                <option value ="@sousCat.id">@sousCat.nom</option>
                            }
                        </select>
                    </div> <!-- form-group end.// -->
                </div>
                    <!-- END ALL SUBCATEGORIES FOR ADD EXPENSE-->

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span  class="input-group-text" style="background:  #8c8c8c" style="padding-right: 20px">Note</span>
                    </div>
                    <textarea name="note" class="form-control" aria-label="With textarea"></textarea>
                </div>

                <input id="chk1" type="checkbox" data-toggle="toggle" onclick="displayRecurrence()">
                <label for="check1">Recurrence</label>
                <div id="recurrence" class="hidden-categorie">
                    <div class="form-group">
                        <select name="recurrence" class="form-control">
                            <option value ="0">choose...</option>
                            @for(rec <- (HomeController.DB).getRecurrence()){
                                <option value="@rec.getId()">@rec.getName()</option>
                            }
                            <option value ="0">choose...</option>
                        </select>
                    </div> <!-- form-group end.// -->
                </div>
                <button type="submit" class="btn btn-primary btn-block">Add</button>
                <button type="button" data-toggle="modal" onclick="visualiseExpense();" class="btn btn-secondary btn-block" data-target="#visualization"> Visualize </button>

                    <!-- Modal -->
                <div class="modal fade" id="visualization" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Visualisation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="" method="get">
                                <div class="modal-body">
                                    <div><a>Base balance    : @user.getSolde()</a></div>
                                    <div><a id="amountVisualize"></a></div>
                                    <br>
                                    <div><a id="afterSolde"></a></div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" onclick="sendVisualize();" class="btn btn-primary">Confirm changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</div>
