@import controllers.BDDpackage.Utilisateur
@import controllers.BDDpackage.BDD
@import controllers.BDDpackage.Transaction

@(titre: String, user : Utilisateur,catId : Integer)

@main(titre: String)(user) {

    <h3>Historique des mouvements financiers</h3>
    <div class="container">
        <div class="row">
            <div class="col-md border shadow-lg p-4 mb-4 home-row">
                @*  *@
            @helper.form( action = helper.CSRF(routes.HomeController.creePDF())) {
                <form>
                    <input type="hidden" name="idUser" value="@user.getId()">
                    <input type="submit" value="PDF" class="btn float-right PDF_btn" style="color: white">
                </form>
            }
                <h5>Overview</h5>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nom sous-categorie</th>
                            <th scope="col">Date</th>
                            <th scope="col">montant</th>
                            <th scope="col">Solde</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if(((HomeController.DB).getAllTransaction(user.getId())).size() != 0){
                            @for(trans <- (HomeController.DB).getAllTransaction(user.getId())){
                                <tr>
                                    <th scope="row">@trans.name</th>
                                    <td>@trans.date</td>
                                    @if(trans.typeTransaction == 1){
                                        <td style="color:#b94a48">-@trans.valeur</td>
                                    } else{
                                        <td style="color:#53a93f">@trans.valeur</td>
                                    }
                                    <td>@trans.timestamp_solde</td>
                                </tr>
                            }
                        }else{
                            <tr>
                                <td>
                                    <p> Pas de transactions à afficher</p>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>

            </div>
            <div class="col-md border shadow-lg p-4 mb-4 home-row">
                <h5>Categorie</h5>
                <form action="/historiqueCat">
                    <select name="cat" class="form-control"    onchange="this.form.submit()">
                    @for(cat <- (HomeController.DB).getAllCategories()) {
                        @if(cat.id == catId){
                            <option selected value="@cat.id">@cat.nom</option>
                        } else {
                            <option value="@cat.id">@cat.nom</option>
                        }

                    }
                    </select>
                </form>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nom sous-categorie</th>
                            <th scope="col">Date</th>
                            <th scope="col">montant</th>
                            <th scope="col">Solde</th>
                        </tr>
                    </thead>

                    <tbody>
                    @if(((HomeController.DB).getAllTransactionByCatId(user.getId(),catId)).size() != 0){
                            @for(trans <- (HomeController.DB).getAllTransactionByCatId(user.getId(),catId)){
                                <tr>
                                    <th scope="row">@trans.name</th>
                                    <td>@trans.date</td>
                                    @if(trans.typeTransaction == 1){
                                        <td style="color:#b94a48">-@trans.valeur</td>
                                    } else{
                                        <td style="color:#53a93f">@trans.typeTransaction</td>
                                    }
                                    <td>@trans.timestamp_solde</td>
                                </tr>
                            }
                    }else{
                        <tr>
                            <td>
                                <p> Pas de transactions à afficher</p>
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>

            </div>
        </div>
    </div>

}