@import controllers.BDDpackage.Utilisateur

@(titre: String, user : Utilisateur)

@main(titre: String)(user) {
  <div class="container">
    <div class="row">
      <div class="col-md border shadow-lg p-4 mb-4 home-row" >
        <div class="div-centered-panel">
          <div>
            <H4>
              Some informations
            </H4>          </div>
          <br>
          <div>
              Actual balance : @if(user.getId() != 0){
                @((HomeController.DB).getSoldeById(user.getId())) .-
              } else{
                You need to <a href="/profil">connect</a>
              }
          </div>
        </div>
      </div>
      <div class="col-md border shadow-lg p-4 mb-4 home-row">
        <div class="div-centered-panel">
          Some statistics
        </div>      </div>
      <div class="col-md border shadow-lg p-4 mb-4 home-row">
        <div class="div-centered-panel">
          News
        </div>
      </div>
    </div>
  </div>
}
