@*
 Page de profil, Permet aux utilisateurs connecter de gérer leur profil
*@
@import controllers.BDDpackage.Utilisateur
@import controllers.BDDpackage.Pays
@import controllers.BDDpackage.Statut


@(user: Utilisateur, Alerte: Int = 0, messageAlerte: String = "")

@main("Profil")(user) {
    @* S'il y a une notification a afficher *@
    @if(Alerte == 1) {
        <div class="badAlert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @messageAlerte
        </div>
    } else if (Alerte == 2){
        <div class="goodAlert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @messageAlerte
        </div>
    }





    <div class="userPad">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-12">
                <div class="card hovercard">
                    <div class="cardheader">
                    </div>
                    <div class="avatar">
                        <img alt="" src="http://lorempixel.com/100/100/people/9/">
                    </div>
                    <div class="info">
                        <div class="title">
                            @user.prenom @user.nom
                        </div>
                        <div class="desc">@user.pays</div>
                        <div class="desc">@user.genre</div>
                        <hr class="style1">
                        <div class="div-centered-panel">
                            <h6>Informations </h6>
                            <div class="desc">Pseudo : @user.pseudo</div>
                            <div class="desc">E-mail : @user.email</div>
                            <div class="desc">Birthday : @user.anniversaire</div>
                            <div class="desc">Status : @user.statut</div>
                            <div class="desc">Inscription date : @user.cree_a</div>
                            <div class="desc">
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modificationProfile">
                                    Modify
                                </button>
                                    <!-- Modal -->
                                <div class="modal fade" id="modificationProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Informations</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            @* Gestion de la modification du profil *@
                                            @views.html.ModifProfil.render(user )


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="style1">
                        <div class="div-centered-panel">
                            <h6>Settings</h6>
                            <div class="desc">Email notifications : @user.options</div>
                            <div class="desc">
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modificationOptions">
                                    Modify
                                </button>

                                    <!-- Modal -->
                                <div class="modal fade" id="modificationOptions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Options</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form action="/modifoptions" method="get">
                                                <div class="modal-body">
                                                    <input type="checkbox" name="Option" value="2"> Rappel email ?
                                                    <input type="hidden" name="Option" value="1" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" value="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="style1">
                        <div class="div-centered-panel">
                            <div class="desc">
                                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#micro-tutorial">
                                    Tutorial
                                </button>
                            </div>


                            <div class="modal fade" id="micro-tutorial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Tutorial</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!------------------------------------------------------------------------>

                                        <div id="carouselContent" class="carousel slide" >
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active text-center p-4" style="height: 80%;">
                                                    <img src="@routes.Assets.versioned("images/TUTO_CTEGORIES-01.jpg")" class="d-block w-100" alt="img2">
                                                    <div>1/3</div>
                                                </div>
                                                <div class="carousel-item text-center p-4">
                                                    <img src="@routes.Assets.versioned("images/TUTO_profil.jpg")" class="d-block w-100" alt="img2">
                                                    <div>2/3</div>
                                                </div>
                                                <div class="carousel-item text-center p-4">
                                                    <img src="@routes.Assets.versioned("images/TUTO_add_things-01.jpg")" class="d-block w-100" alt="img2">
                                                    <div>3/3</div>
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="false"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                        <!------------------------------------------------------------------------>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <hr class="style1">
                        <div class="div-centered-panel">
                            <div class="desc" style="margin-top: 20px;"><a href="/deco" class="button    ">Disconnect</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
